<header class="site-header">
    <nav class="site-nav">
        <ul>
            <li id="logo">
                <a href="/">
                    <img src="{{ "/css/logo.png" | prepend: site.baseurl }}" />
                </a>
            </li>
            <li>
                <a class="page-link">
                <iframe src="https://ghbtns.com/github-btn.html?user=ghillairet&repo=emfjson&type=star&count=true"
                        frameborder="0"
                        scrolling="0" width="170px" height="20px" style="vertical-align: inherit;"></iframe>
                </a>
            </li>
            <li>
                <a class="page-link" href="{{ site.baseurl }}/news">News</a>
            </li>
            <li>
                <a class="page-link" href="{{ site.baseurl }}/docs">Documentation</a>
            </li>
            <li>
                <a class="page-link" href="{{ site.baseurl }}/download">Download</a>
            </li>
        </ul>
    </nav>
</header>
