<nav class="nav" role="custom-dropdown">
    <input type="checkbox" id="button">
    <label for="button" onclick></label>

    <ul class="navigation">
        <li id="logo">
            <a class="page-link" href="https://github.com/ghillairet/emfjson">
                <i class="icon-github-circled"></i>
            </a>
        </li>
        <li>
            <a class="page-link" href="{{ site.baseurl }}/news">News</a>
        </li>
        <li>
            <a class="page-link" href="{{ site.baseurl }}/docs">Documentation</a>
        </li>
        <li>
            <a class="page-link" href="{{ site.baseurl }}/download">Download</a>
        </li>
    </ul>
</nav>
