---
layout: page
title: emfjson - documentation
---

<div class="nav-docs">

    <div class="nav-docs-section">
        <h3>Start</h3>
        <ul>
            <li><a href="/docs/">Getting Started</a></li>
            <li><a href="/docs/tutorial">Tutorial</a></li>
        </ul>
    </div>

    <div class="nav-docs-section">
        <h3>Guides</h3>
        <ul>
            <li><a href="/docs/format">JSON Format</a></li>
            <li><a href="/docs/emf">EMF API</a></li>
            <li><a href="/docs/jackson">Jackson</a></li>
            <li><a href="/docs/gwt">GWT</a></li>
        </ul>
    </div>

    <div class="nav-docs-section">
        <h3>Databases</h3>
        <ul>
            <li><a href="/docs/couchdb">CouchDB</a></li>
            <li><a href="/docs/mongo">MongoDB</a></li>
        </ul>
    </div>

    <div class="nav-docs-section">
        <h3>Examples</h3>
        <ul>
            <li>Simple</li>
            <li>Eclipse Plugin</li>
            <li>CDO</li>
        </ul>
    </div>

</div>

<div class="content-docs">
    {{ content }}
</div>