---
layout: page
title: emfjson - downloads
---

<div class="nav-docs">

    <div class="nav-docs-section">
        <h3>Maven</h3>
        <ul>
            <li>emfjson-jackson</li>
            <li>emfjson-gwt</li>
        </ul>
    </div>

    <div class="nav-docs-section">
        <h3>Eclipse</h3>
        <ul>
            <li>P2 repository</li>
            <li>Tycho</li>
        </ul>
    </div>

    <div class="nav-docs-section">
        <h3>ecore.js</h3>
        <ul>
            <li>NPM</li>
            <li>Bower</li>
        </ul>
    </div>

    <div class="nav-docs-section">
        <h3>DB Adapters</h3>
        <ul>
            <li>CouchDB</li>
            <li>MongoDB</li>
        </ul>
    </div>

</div>

<div class="content-docs">
    {{ content }}
</div>